.add-patient-form {
    font-size: 18px;
    display: grid;
    justify-content: center;
    grid-template-columns: .2fr;
}

.add-patient-form > label {
    color: #00A26D;
    margin-top: 10px;
}

.add-patient-form > input {
    color: #FFFFFF;
    font-size: 16px;
    padding: 5px;
    background-color: #2D2D2D;
    border: solid 1.5px #FFF;
    border-radius: 5px;
}

.add-patient-form > input[type='text']:focus {
    outline: none;
    outline-offset: 0;
    background-color: rgba(0, 162, 109, 0.58);
}

.add-patient-form > input[type='text'], select, input[type='password'] {
    margin-top: 10px;
}

.add-patient-form > select {
    background-color: rgba(45, 45, 45, 1);
    border-color: #FFFFFF;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
}

.add-patient-form > input:last-child {
    background-color: #00A26D;
    border: none;
    font-size: 18px;
    width: 170px;
    cursor: pointer;
    margin-top: 10px;
}

.add-patient-form > input:last-child:hover {
    background-color: rgba(0, 162, 109, 0.49);
    transition-duration: .3s;
}

.main {
    margin-top: 25px;
}