/*base styles*/
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Avalon', sans-serif;
    src: url("/fonts/Avalon-Regular.ttf") format('ttf');
}

body {
    font-family: 'Avalon', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #2D2D2D;
}

.title {
    color: #00A26D;
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.header {
    display: flex;
    margin-top: 50px;
    margin-right: 90px;
    height: 40px;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/*switch btn*/
.switch-btn {
    display: inline-block;
    width: 62px; /* ширина */
    height: 32px; /* высота */
    border-radius: 20px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}

.switch-btn::after {
    content: "";
    height: 24px; /* высота кнопки */
    width: 24px; /* ширина кнопки */
    border-radius: 17px;
    background: #fff; /* цвет кнопки */
    top: 4px; /* положение кнопки по вертикали относительно основы */
    right: 4px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #118c4e;
}

.switch-on::after {
    left: 32px;
}

/*footer*/
.footer {
    display: flex;
    background-color: rgba(52, 52, 52, 0.43);
    margin-top: 30px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.footer > span {
    /*background-color: rgba(0, 162, 109, 0.49);*/
    /*transition-duration: .3s;*/
    animation: flow 10s ease-in-out infinite;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    /*background: linear-gradient(-60deg, #904e95, #e73c7e, #ee7752);*/
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .2em;
    text-transform: uppercase;
    filter: opacity(50%);
    color: #00A26D;
}

.footer > img {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    filter: hue-rotate(160deg) opacity(50%);
}