<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css.css">
    <link rel="stylesheet" href="/assets/appointment.css">
    <title>Добавить прием</title>
</head>
<body>
<div class="header-container">
    <div class="header">
        <h3 class="title">Добавление приема</h3>
        <div class="switch-container">
            <svg width="27" height="27" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="18" cy="18.5" rx="18" ry="18.5" fill="#F9F9F9"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M32.625 21.4377C30.6048 23.5717 27.7802 24.8973 24.6544 24.8973C18.5132 24.8973 13.5348 19.7805 13.5348 13.4687C13.5348 9.17245 15.8414 5.42987 19.2512 3.47775C19.0839 3.47177 18.9158 3.46875 18.7471 3.46875C10.8786 3.46875 4.5 10.0246 4.5 18.1116C4.5 26.1986 10.8786 32.7544 18.7471 32.7544C25.5023 32.7544 31.1595 27.9223 32.625 21.4377Z"
                      fill="#2D2D2D"/>
            </svg>
            <div class="switch-btn switch-on"></div>
        </div>
    </div>
</div>
<div class="main">
    <div class="aside">
    </div>
    <img src="/assets/img/arrow-top.png" alt="to top" onclick="topFunction()" id="btn-to-top">
    <form class="appointment-form">
        <label for="patient">пациент</label>
        <select name="patient-select" id="patient">
            <option value="1">AaAaA</option>
        </select>
        <label for="diagnos">диагноз</label>
        <select name="diagnos" id="diagnos">
            <option value="13">DS5</option>
        </select>
        <button class="diagnos-add"><span>добавить диагноз</span></button>
        <label for="heal">лечение</label>
        <select name="heal" id="heal">
            <option value="123">pipi</option>
        </select>
        <button class="heal-add"><span>добавить лечение</span></button>
        <label for="doctor">врач</label>
        <select name="doctor" id="doctor">
            <option value="123">dadaya</option>
        </select>
        <input type="submit" value="отправить">
    </form>
</div>
<div class="footer">
    <img src="/assets/img/umbrella.png" alt="Umbrella logo">
    <span>Umbrella Corporation &copy;</span>
</div>
</body>
</html>