<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css.css">
    <link rel="stylesheet" href="/assets/control.css">
    <title>Контроль</title>
</head>
<body>
<div class="header">
    <img src="/assets/img/moon.svg" alt="moon icon">
    <div class="switch-btn switch-on"></div>
</div>
<div class="main">
    <div class="aside">
    </div>
    <h3 class="title">Контроль</h3>
    <div class="control">
        <span>№ Палаты - 132</span>
        <span>ФИО - ГГВП</span>
        <span>Время - 9:00</span>
        <span>Процедура - Укол в j0p9</span>
        <span>Статус - <input type="checkbox" name="status"></span>
    </div>
</div>
<div class="footer">
    <img src="/assets/img/umbrella.png" alt="Umbrella logo">
    <span>Umbrella Corporation &copy;</span>
</div>
</body>
</html>