<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css.css">
    <link rel="stylesheet" href="/assets/diagnos-add.css">
    <script defer src="../js/scripts.js"></script>
    <title>Добавить диагноз</title>
</head>
<body>
<div class="header-container">
    <div class="header">
        <h3 class="title">Добавление нового диагноза</h3>
        <form class="search">
            <input type="search" name="search" id="search" placeholder="поиск">
            <input type="submit" value=">">
        </form>
        <div class="switch-container">
            <svg width="27" height="27" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="18" cy="18.5" rx="18" ry="18.5" fill="#F9F9F9"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M32.625 21.4377C30.6048 23.5717 27.7802 24.8973 24.6544 24.8973C18.5132 24.8973 13.5348 19.7805 13.5348 13.4687C13.5348 9.17245 15.8414 5.42987 19.2512 3.47775C19.0839 3.47177 18.9158 3.46875 18.7471 3.46875C10.8786 3.46875 4.5 10.0246 4.5 18.1116C4.5 26.1986 10.8786 32.7544 18.7471 32.7544C25.5023 32.7544 31.1595 27.9223 32.625 21.4377Z"
                      fill="#2D2D2D"/>
            </svg>
            <div class="switch-btn switch-on"></div>
        </div>
    </div>
</div>
<div class="main">
    <button onclick="openNav()" class="menu-toggle">&#9776;</button>
    <div id="mySidenav" class="sidebar sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul class="other-links">
            <li class="link-item"><a href="#">Контроль</a></li>
            <li class="link-item"><a href="#">История пациента</a></li>
            <li class="link-item"><a href="#">Пациенты</a></li>
            <li class="link-item"><a href="#">Записать пациента</a></li>
            <li class="link-item"><a href="#">Расписание</a></li>
        </ul>
        <p>Добавления</p>
        <ul class="add-links">
            <li class="link-item"><a href="#">Добавить диагноз</a></li>
            <li class="link-item"><a href="#">Добавить лечение</a></li>
            <li class="link-item"><a href="#">Добавить врача</a></li>
            <li class="link-item"><a href="#">Добававить прием</a></li>
        </ul>
    </div>
    <div class="form-container">
        <form class="diagnos-form">
            <label for="diagnos-name">Название диагноза</label>
            <input type="text" name="diagnos-name" id="diagnos-name">
            <input type="submit" value="добавить">
        </form>
    </div>
</div>
<div class="footer">
    <img src="/assets/img/umbrella.png" alt="Umbrella logo">
    <span>Umbrella Corporation &copy;</span>
</div>
</body>
</html>