<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css.css">
    <link rel="stylesheet" href="/assets/record-patient.css">
    <title>Добавить врача</title>
</head>
<body>
<div class="header">
    <img src="/assets/img/moon.svg" alt="moon icon">
    <div class="switch-btn switch-on"></div>
</div>
<div class="main">
    <div class="aside">

    </div>
    <h3 class="title">Записать пациента</h3>
    <form class="record-patient-form">
        <label for="choose-patient">Выбрать пациента</label>
        <select name="choose" id="choose-patient">
            <option value="1">aposdpo</option>
            <option value="2">sadasd</option>
            <option value="3">ghjk</option>
        </select>
        <input type="submit" class="create-patient-btn" value="создать пациента">
        <label for="chooce-cab">Выбрать кабинет</label>
        <select name="cab" id="chooce-cab">
            <option value="1">asd</option>
            <option value="12">sadas</option>
            <option value="13">asdas</option>
        </select>
        <label for="date">Дата</label>
        <input type="date" name="date" id="date">
        <label for="time">Время</label>
        <input type="time" name="time" id="time">
        <input type="submit" value="записать">
    </form>
</div>
<div class="footer">
    <img src="/assets/img/umbrella.png" alt="Umbrella logo">
    <span>Umbrella Corporation &copy;</span>
</div>
</body>
</html>